@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
}

#container{
    background: linear-gradient(340deg, rgb(255, 146, 87) 0%, rgba(255,255,255,1) 100%);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Josefin Sans', sans-serif;
}

.color-brown{
    color: #D2510C !important;
}

.navbar a, p{
    color: #D2510C !important;
    font-weight: bold;
}

.sj-rounded-bottom{
    -webkit-border-bottom-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -moz-border-radius-bottomr-ight: 50%;
    -moz-border-radius-bottom-left: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.sj-rounded-top{
    -webkit-border-top-right-radius: 50%;
    -webkit-border-top-left-radius: 50%;
    -moz-border-radius-top-ight: 50%;
    -moz-border-radius-top-left: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.sj-statistics-circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 1em;
    width: 30vw; 
    height: 30vw;
    border: 0.5vw solid #D2510C;
    border-radius: 50% !important;
}

.sj-statistics-circle-count{
    font-weight: bold;
}

.sj-statistics-circle-item{
    font-weight: normal;
}

.sj-certificate-illustration{
    position: absolute; 
    left: 50%;
}

.sj-features-img{
    width: 15vw; 
    height: 15vw;
}

@media (min-width: 576px) {
    .sj-certificate-illustration{
        left: 50% !important;
    }

    .sj-font-description{
        width: 75% !important;
    }

    .sj-font-documentation-btn{
        width: 45% !important;
    }

    .sj-statistics-circle{
        width: 60vw !important; 
        height: 60vw !important;
    }

    .sj-features-img{
        width: 18em !important; 
        height: 18em !important;
    }
}

@media (min-width: 992px) {
    .sj-certificate-illustration{
        left: 70% !important;
    }

    .sj-font-description{
        width: 50% !important;
    }

    .sj-font-documentation-btn{
        width: 45% !important;
    }

    .sj-statistics-circle{
        width: 30vw !important; 
        height: 30vw !important;
    }

    .sj-features-img{
        width: 15em !important; 
        height: 15em !important;
    }
}