@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    margin: 0%;
}

a{
    color: #f8f9fa;
}

.page-link{
    color: #212529;
}

.page-item.active .page-link{
    color: #212529;
    background-color: #fff;
    border-color: #212529;
}

#signature-pad-wrapper{
    width: 86.4vw;
    height: 28.8vw;
}

#signature-pad{
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.form-check-input:checked{
    background-color: #6c757d;
    border-color: #6c757d;
}

.form-floating>label {
    color: #212529;
}

.system-logo{
    filter: drop-shadow(0.03em 0.03em #495057);
    -webkit-filter: drop-shadow(0.03em 0.03em #495057);
    -moz-filter: drop-shadow(0.03em 0.03em #495057);
}

.form-text{
    color: #adb5bd;
}

.form-control:disabled{
    background-color: #ced4da;
    opacity: 1;
}

.filter-option-inner-inner{
    color: #212529;
}

.draggable-resizable-square, .draggable-resizable-rectangle, .draggable-rectangle{
    -ms-touch-action: none;
    touch-action: none;
    user-select: none;
}
