
@use 'fontImports';

.text{
    font-family: inherit;
}

.sj-fonts-architectsdaughter{
    font-family: 'architectsdaughter';
}

.sj-fonts-badscript{
    font-family: 'badscript';
}

.sj-fonts-bebasneue{
    font-family: 'bebasneue';
}

.sj-fonts-berkshireswash{
    font-family: 'berkshireswash';
}

.sj-fonts-carterone{
    font-family: 'carterone';
}

.sj-fonts-cookie{
    font-family: 'cookie';
}

.sj-fonts-fredokaone{
    font-family: 'fredokaone';
}

.sj-fonts-kaushanscript{
    font-family: 'kaushanscript';
}

.sj-fonts-lobster{
    font-family: 'lobster';
}

.sj-fonts-oleoscript{
    font-family: 'oleoscript';
}

.sj-fonts-poppins{
    font-family: 'poppins';
}

.sj-fonts-rancho{
    font-family: 'rancho';
}

.sj-fonts-righteous{
    font-family: 'righteous';
}

.sj-fonts-satisfy{
    font-family: 'satisfy';
}

.sj-fonts-poiretone{
    font-family: 'poiretone';
}

.sj-fonts-ptserif{
    font-family: 'ptserif';
}

.sj-fonts-bitter{
    font-family: 'bitter';
}

.sj-fonts-crimsontext{
    font-family: 'crimsontext';
}

.sj-fonts-cormorantgaramond{
    font-family: 'cormorantgaramond';
}

.sj-fonts-quicksand{
    font-family: 'quicksand';
}

.sj-fonts-quicksand{
    font-family: 'quicksand';
}

.sj-fonts-mukta{
    font-family: 'mukta';
}

.sj-fonts-glory{
    font-family: 'glory';
}

.sj-fonts-allison{
    font-family: 'allison';
}

.sj-fonts-greatvibes{
    font-family: 'greatvibes';
}

.sj-fonts-tangerine{
    font-family: 'tangerine';
}

.sj-fonts-nanumpenscript{
    font-family: 'nanumpenscript';
}

.sj-fonts-nanumpenscript{
    font-family: 'nanumpenscript';
}

.sj-fonts-luckiestguy{
    font-family: 'luckiestguy';
}

.sj-fonts-bungeeshade{
    font-family: 'bungeeshade';
}

.sj-fonts-unifrakturmaguntia{
    font-family: 'unifrakturmaguntia';
}

.sj-fonts-bangers{
    font-family: 'bangers';
}

.sj-fonts-pressstart2p{
    font-family: 'pressstart2p';
}

.sj-fonts-monoton{
    font-family: 'monoton';
}

.sj-fonts-cinzeldecorative{
    font-family: 'cinzeldecorative';
}
