@font-face{
    font-family: 'architectsdaughter';
    src: url(../../../storage/app/fonts/third_party_all/architectsdaughter.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'badscript';
    src: url(../../../storage/app/fonts/third_party_all/badscript.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'bebasneue';
    src: url(../../../storage/app/fonts/third_party_all/bebasneue.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'berkshireswash';
    src: url(../../../storage/app/fonts/third_party_all/berkshireswash.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'carterone';
    src: url(../../../storage/app/fonts/third_party_all/carterone.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'cookie';
    src: url(../../../storage/app/fonts/third_party_all/cookie.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'fredokaone';
    src: url(../../../storage/app/fonts/third_party_all/fredokaone.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'kaushanscript';
    src: url(../../../storage/app/fonts/third_party_all/kaushanscript.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'lobster';
    src: url(../../../storage/app/fonts/third_party_all/lobster.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'oleoscript';
    src: url(../../../storage/app/fonts/third_party_all/oleoscript.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'poppins';
    src: url(../../../storage/app/fonts/third_party_all/poppins.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'rancho';
    src: url(../../../storage/app/fonts/third_party_all/rancho.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'righteous';
    src: url(../../../storage/app/fonts/third_party_all/righteous.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'satisfy';
    src: url(../../../storage/app/fonts/third_party_all/satisfy.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'poiretone';
    src: url(../../../storage/app/fonts/third_party_all/poiretone.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ptserif';
    src: url(../../../storage/app/fonts/third_party_all/ptserif.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'bitter';
    src: url(../../../storage/app/fonts/third_party_all/bitter.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'crimsontext';
    src: url(../../../storage/app/fonts/third_party_all/crimsontext.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'cormorantgaramond';
    src: url(../../../storage/app/fonts/third_party_all/cormorantgaramond.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'quicksand';
    src: url(../../../storage/app/fonts/third_party_all/quicksand.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'ubuntu';
    src: url(../../../storage/app/fonts/third_party_all/ubuntu.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'mukta';
    src: url(../../../storage/app/fonts/third_party_all/mukta.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'glory';
    src: url(../../../storage/app/fonts/third_party_all/glory.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'allison';
    src: url(../../../storage/app/fonts/third_party_all/allison.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'greatvibes';
    src: url(../../../storage/app/fonts/third_party_all/greatvibes.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'tangerine';
    src: url(../../../storage/app/fonts/third_party_all/tangerine.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'nanumpenscript';
    src: url(../../../storage/app/fonts/third_party_all/nanumpenscript.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'karantina';
    src: url(../../../storage/app/fonts/third_party_all/karantina.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'luckiestguy';
    src: url(../../../storage/app/fonts/third_party_all/luckiestguy.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'bungeeshade';
    src: url(../../../storage/app/fonts/third_party_all/bungeeshade.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'unifrakturmaguntia';
    src: url(../../../storage/app/fonts/third_party_all/unifrakturmaguntia.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'bangers';
    src: url(../../../storage/app/fonts/third_party_all/bangers.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'pressstart2p';
    src: url(../../../storage/app/fonts/third_party_all/pressstart2p.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'monoton';
    src: url(../../../storage/app/fonts/third_party_all/monoton.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'cinzeldecorative';
    src: url(../../../storage/app/fonts/third_party_all/cinzeldecorative.ttf);
    font-weight: normal;
    font-style: normal;
}
