@font-face{
    font-family: 'architectsdaughter';
    src: url(../../../storage/app/fonts/third_party_all/architectsdaughter.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'badscript';
    src: url(../../../storage/app/fonts/third_party_all/badscript.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'bebasneue';
    src: url(../../../storage/app/fonts/third_party_all/bebasneue.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'berkshireswash';
    src: url(../../../storage/app/fonts/third_party_all/berkshireswash.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'carterone';
    src: url(../../../storage/app/fonts/third_party_all/carterone.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'cookie';
    src: url(../../../storage/app/fonts/third_party_all/cookie.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'fredokaone';
    src: url(../../../storage/app/fonts/third_party_all/fredokaone.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'kaushanscript';
    src: url(../../../storage/app/fonts/third_party_all/kaushanscript.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'lobster';
    src: url(../../../storage/app/fonts/third_party_all/lobster.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'oleoscript';
    src: url(../../../storage/app/fonts/third_party_all/oleoscript.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'poppins';
    src: url(../../../storage/app/fonts/third_party_all/poppins.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'rancho';
    src: url(../../../storage/app/fonts/third_party_all/rancho.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'righteous';
    src: url(../../../storage/app/fonts/third_party_all/righteous.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'satisfy';
    src: url(../../../storage/app/fonts/third_party_all/satisfy.ttf);
    font-weight: normal;
    font-style: normal;
}

.text{
    font-family: inherit;
}

.sj-fonts-architectsdaughter{
    font-family: 'architectsdaughter';
}

.sj-fonts-badscript{
    font-family: 'badscript';
}

.sj-fonts-bebasneue{
    font-family: 'bebasneue';
}

.sj-fonts-berkshireswash{
    font-family: 'berkshireswash';
}

.sj-fonts-carterone{
    font-family: 'carterone';
}

.sj-fonts-cookie{
    font-family: 'cookie';
}

.sj-fonts-fredokaone{
    font-family: 'fredokaone';
}

.sj-fonts-kaushanscript{
    font-family: 'kaushanscript';
}

.sj-fonts-lobster{
    font-family: 'lobster';
}

.sj-fonts-oleoscript{
    font-family: 'oleoscript';
}

.sj-fonts-poppins{
    font-family: 'poppins';
}

.sj-fonts-rancho{
    font-family: 'rancho';
}

.sj-fonts-righteous{
    font-family: 'righteous';
}

.sj-fonts-satisfy{
    font-family: 'satisfy';
}